<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>
	<title>舞妓さん一覧</title>
</head>

<body>

	<div class="maiko-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 maiko-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<h1 class="mb-4 text-center">舞妓さん一覧</h1>

						<div class="d-flex justify-content-between align-items-end">
							<form method="get" th:action="@{/admin/maikos}" class="mb-3">
								<div class="input-group">
									<input type="text" class="form-control" name="keyword" th:value="${keyword}"
										placeholder="舞子名">
									<button type="submit" class="btn text-while shadow-sm maiko-btn">検索</button>
								</div>
							</form>
							<a th:href="@{/admin/maikos/register}"
								class="btn text-white shadow-sm md-3 maiko-btn">登録</a>
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">名前</th>
									<th scope="col">郵便番号</th>
									<th scope="col">住所</th>
									<th scope="col">電話番号</th>
									<th scope="col"></th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="maiko : ${maikoPage}">
									<td th:text="${maiko.getId()}"></td>
									<td th:text="${maiko.getName()}"></td>
									<td th:text="${maiko.getPostalCode()}"></td>
									<td th:text="${maiko.getAddress()}"></td>
									<td th:text="${maiko.getPhoneNumber()}"></td>
									<td><a th:href="@{/admin/maikos/__${maiko.getId()}__}">詳細</a></td>
									<td><a href="#" class="maiko-link-danger" data-bs-toggle="modal"
											th:data-bs-target="${'#deleteMaikoModal' + maiko.getId()}">削除</a></td>
									　　　

									<!-- 削除用モーダル -->
									<div class="modal fade" th:id="${'deleteMaikoModal' + maiko.getId()}" tabindex="-1"
										th:aria-labelledby="${'deleteMaikoModalLabel' + maiko.getId()}">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title"
														th:id="${'deleteMaikoModalLabel' + maiko.getId()}"
														th:text="${maiko.getName() + 'を削除してもよろしゅうどすか？'}"></h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="閉じる"></button>
												</div>
												<div class="modal-footer">
													<form method="post"
														th:action="@{/admin/maikos/__${maiko.getId()}__/delete}">
														<button type="submit"
															class="btn maiko-btn-danger text-white shadow-sm">削除</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</tr>
							</tbody>
						</table>

						<!-- ページネーション なぜかわからないけど動く-->
						<div th:if="${maikoPage.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="maiko一覧ページ">
								<ul class="pagination">
									<li class="page-item"><span th:if="${maikoPage.isFirst()}"
											class="page-link disabled">前</span> <a th:unless="${maikoPage.isFirst()}"
											th:href="@{/admin/maikos(page = ${maikoPage.getNumber() - 1}, keyword = ${keyword})}"
											class="page-link maiko-page-link">前</a></li>
									<li th:each="i : ${#numbers.sequence(0, maikoPage.getTotalPages() - 1)}"
										class="page-item"><span th:if="${i == maikoPage.getNumber()}"
											class="page-link active maiko-active" th:text="${i + 1}"></span>
										<a th:unless="${i == maikoPage.getNumber()}"
											th:href="@{/admin/maikos(page = ${i}, keyword = ${keyword})}"
											class="page-link maiko-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item"><span th:if="${maikoPage.isLast()}"
											class="page-link disabled">次</span> <a th:unless="${maikoPage.isLast()}"
											th:href="@{/admin/maikos(page = ${maikoPage.getNumber() + 1}, keyword = ${keyword})}"
											class="page-link maiko-page-link">次</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div> 
</body>

</html>